.tphoto {
    width: 350px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #c0c0c0;
}

.tname {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
    position: absolute;
    top:300px;
}
.tname .tauthor {
  font-weight: 200;
}

.tgenre {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
    position: absolute;
    top:350px;
}

.tbg {
  height: 720px;
  width: 400px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

.tbgwrap {
  padding: 10px;
}

.theader {
  height: 65px;
  border-bottom: 1px solid #c0c0c0;
}

.theader i.fa-comments {
  color: #c0c0c0;
  font-size: 40px;
  display: inline-block;
  float: right;
  padding: 10px 20px;
  position: relative;
}

.theader i.fa-cog {
  color: #c0c0c0;
  font-size: 40px;
  display: inline-block;
  float: left;
  padding: 10px 20px;
  position: relative;
}

.tlogo {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
}

.tlogo img {
  width: 100px;
}

.tno {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 50px;
  left: 25px;
  border: 10px solid #f0f0f0;
}

.tno i {
  color: #ff695b;
  font-size: 80px;
  padding: 17px 28px;
}

.tyes {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 48px;
  left: 0px;
  border: 10px solid #f0f0f0;
}

.tyes i {
  color: #5de19c;
  font-size: 60px;
  padding: 35px 30px;
}

.tphoto img{
  position: absolute;
}
