<div class="tbg">
  <app-menu [parentSubject]="parentSubject"></app-menu>
  <div class="tbgwrap">
    <div class="tcontrols">
      <div (click)='cardAnimation("swipeleft")' class="tno">
        <button mat-fab color="warn" aria-label="Not hot">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div (click)='cardAnimation("swiperight")' class="tyes">
        <button mat-fab color="success" aria-label="Hot">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
