.tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
}
.tbgwrap {
    padding: 10px;

}
.theader {
    height: 65px;
    border-bottom: 1px solid #c0c0c0;

}

.tlogo {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.tlogo img { width: 50px; }

.tno {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 95px;
}
.tno i {
    color: #ff695b;
    font-size: 80px;
    padding: 17px 28px;
}

.tyes {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 105px;
}
.tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 35px 30px;
}

.mat-fab.mat-success {
  color: #f0fff3;
  background-color: #11A187;
}
