@media screen and (min-width: 250px){
  * {
    font-family: adopteunlivre;
  }

  .tbg {
      height: 720px;
      width: 400px;
      background-color: #fff;
      margin: 0 auto;
      border: 1px solid #c0c0c0;
      background-image: linear-gradient(to top right, #AEC5EB, #F9DEC9);
  }
}
