<mat-list role="list">
  <mat-list-item role="listitem">
    <button mat-fab color="warning">
        <mat-icon>arrow_right_alt</mat-icon>
    </button>
    Bouton pour lancer le swip
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-fab color="success" aria-label="Hot">
      <mat-icon>favorite</mat-icon>
    </button>
    Bouton pour swiper a droite, c'est hot !
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-fab color="warn" aria-label="Not hot">
      <mat-icon>clear</mat-icon>
    </button>
    Bouton pour swiper a gauche, c'est pas terrible !
  </mat-list-item>
  <mat-list-item role="listitem">
    <img src="/assets/logo_app_wb.png" alt="logo AUL" title="logo AUL"/>
    Bouton pour ajouter un livre
  </mat-list-item>
  <mat-list-item role="listitem">
    <div class="icon">
      <mat-icon> comment</mat-icon>
    </div>
    <div class="text">
      Bouton pour voir l'historique de vos swip a  droite !
    </div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <div class="icon">
      <mat-icon> person</mat-icon>
    </div>
    <div class="text">
      Bouton pour continuer le swip
    </div>
  </mat-list-item>
  <mat-list-item role="listitem">
    <div class="icon">
      <mat-icon> build</mat-icon>
    </div>
    <div class="text">
      Bouton pour voir les parametres
    </div>
  </mat-list-item>
</mat-list>
