* {
  font-family: adopteunlivre;
}

button {
  margin:10px;
  background-color: rgba(216, 165, 47, 0.96);
  font-size: 16px;
  color: white;
}

mat-icon {
  font-family: 'Material Icons' !important;
  font-size: 30px !important;
  padding-bottom: 5px;
  padding-right: 5px;
}

mat-list-item {
    margin-bottom: 20px;
}

.mat-fab.mat-success {
  color: #f0fff3;
  background-color: #11A187;
}

img {
   width: 50px;
   margin-left: 12px;
   margin-right: 15px;
}

.icon {
  margin-left: 25px;
  color:grey;
}

.text {
  margin-left: 20px;
}
