<div class="tbg">
  <div class="theader">
    <div class="tlogo">
      <img src="/assets/logo_app_wb.png" alt="logo AUL" title="logo AUL" />
    </div>
  </div>
  <div class="tphoto">
    <img src="/assets/AdopteUnLivre.png" title="tphoto" alt="Books Photo" />
  </div>
  <div class="tbgwrap">
      <div class="tboxbutton">
        <div class="tbutton" >Clique sur la fleche pour swiper</div>
      </div>
      <div class="tyes">
        <button mat-fab color="warning" routerLink="swip" routerLinkActive="active">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
  </div>
</div>
