* {
  font-family: adopteunlivre;
}

.tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    background-image: linear-gradient(to top right, #AEC5EB, #F9DEC9);
}
.tbgwrap {
    padding: 10px;
}
.theader {
    height: 65px;
    border-bottom: 1px solid #c0c0c0;
}

.tlogo {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.tlogo img { width: 50px; }

.tboxbutton {
    border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
}

.tphoto{
  text-align: center;
  width: 100px;
}

.tphoto img{
  width: 400px;
  height: 400px;
}

.tbutton {
  padding: 10px;
  font-size: 25px;
  float: left;
  position: relative;
  border: 1px solid white;
  border-radius: 30px;
  -moz-border-radius: 10px;
  background-color: rgba(94, 92, 98, .5);
  color: white;
}
