<div class="container">
    <form [formGroup]="addBookForm">
        <p>Un nouveau copain</p>
        <input [(ngModel)]="book.author" formControlName="author" type="text" placeholder="Auteur" name="author"><br>
        <input [(ngModel)]="book.name" formControlName="name" type="text" placeholder="Nom du livre" name="name"><br>
        <input [(ngModel)]="book.genre1" formControlName="genre1" type="text" placeholder="Genre 1" name="genre1"><br>
        <input [(ngModel)]="book.summary" formControlName="summary" type="text" placeholder="Sommaire" name="summary"><br>
        <button (click)=" addBook() " [disabled]="addBookForm.invalid">Add</button>
    </form>
</div>