@media screen and (min-width: 250px) {
    * {
        font-family: adopteunlivre;
    }
    form {
        padding: 3em;
        border-radius: 20px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        backdrop-filter: blur(10px);
        box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        p {
            font-weight: 500;
            color: rgb(0, 0, 0);
            opacity: 0.7;
            font-size: 1.4rem;
            margin-top: 0;
            margin-bottom: 60px;
            font-family: adopteunlivre;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
        input,
        button {
            background: transparent;
            width: 200px;
            padding: 1em;
            margin-bottom: 2em;
            border: none;
            border-left: 1px solid white;
            border-top: 1px solid white;
            border-radius: 5000px;
            backdrop-filter: blur(5px);
            box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
            transition: all 0.2s ease-in-out;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
            }
            &[type="button"] {
                margin-top: 10px;
                width: 150px;
                font-size: 18px;
                opacity: 0.7;
                &:hover {
                    cursor: pointer;
                }
                &:active {
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
        &:hover {
            margin: 4px;
        }
    }
     ::placeholder {
        font-size: 18px;
        color: rgb(0, 0, 0);
        opacity: 0.7;
    }
    input:focus,
    button:focus {
        outline: none;
    }
}