@media screen and (min-width: 250px) {
    * {
        font-family: adopteunlivre;
    }
    .theader {
        height: 65px;
        border-bottom: 1px solid #c0c0c0;
    }
    .tlogo {
        text-align: center;
        color: grey;
    }
    .tlogo img {
        vertical-align: bottom;
        display: inline-block;
        width: 50px;
        height: 50px;
        content: url("../../assets/logo_app_wb.png");
    }
    mat-icon {
        font-family: 'Material Icons' !important;
        font-size: 40px !important;
    }
    .tlogo mat-icon {
        margin: 10px 35px 20px 35px;
    }
    .active {
        color: rgb(255, 81, 118);
    }
    .tlogo img.active {
        display: inline-block;
        width: 50px;
        height: 50px;
        content: url("../../assets/logo_app_wb_active.png");
    }
}